Package: comics-thumbnailer
Architecture: all
Maintainer: Livanh <livanh@bulletmail.org>
Depends: imagemagick, rar, unzip, python-gtk2
Priority: optional
Version: 0.1
Description: Thumbnailer for comic book (CBR/CBZ) files 
 This script creates thumbnails for comic book files in PCManFM and other file managers.
 .
 The first image inside the archive (in alphabetical order) is assumed to be the cover and used as the thumbnail
